<!-- ユーザー表示 -->
  <h5><strong>My Collections</strong></h5>

<div class="clearfix bg-light main1">
  <div class="row col-lg-3 myworks_user">
    <%= link_to user_path(@user.id) do %>
    <%= attachment_image_tag @user, :image, :fill, 120, 120, fortmat: "jpg", fallback: "no-user-image.jpg", size: "120x120", class:'user-image-work' %>
    <% end %>
    <h4><strong><%= @user.name %></strong></h4>
  </div>

  <!-- 画面切り替え表示 -->
  <div class="icons">
  	<div class="icon-bar">
    <%= fa_icon("ellipsis-v", class:"icon1") %>
  	<%= fa_icon("ellipsis-h", class:"icon2") %>
    <%= fa_icon("th", class:"icon3") %>
    </div>
  </div>
</div>

<br>
<!-- スライダー作品表示 -->
<div class="slider work-slider">
  <% @works.each do |w| %>
    <div class="show-works">
      <!-- 作品画像表示 -->
       <%= link_to work_path(w.id) do %>
         <%= attachment_image_tag w, :image, :fill, 700, 700, fortmat: "jpg", fallback: "no-user-image.jpg", size: "700x700" %>
         <h4 class="work-user-name text-dark"><%= w.work_name %></h4>
       <% end %>
       <%= link_to user_path(w.user_id) do %>
         <h4 class="user-name text-dark">User Name: <%= w.user.name %></h4>
       <% end %>
      <!-- Good機能 -->
       <div class="favorireds">
         <% if w.favorited_by?(current_user) %>
           <%= link_to work_favorite_delete_path(w.id), method: :delete, class: "fav", remote: true do %>
           <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good -</h5>
           <% end %>
         <% else %>
           <%= link_to work_favorite_new_path(w.id), method: :post, class: "fav", remote: true do %>
           <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good ＋</h5>
           <% end %>
         <% end %>
       </div>

    </div>
  <% end %>
</div>

<!-- スクロール作品表示 -->
<div class="scroll work-scroll container ">
  <div class="offset-lg-1">
  	<!-- 作品画像表示 -->
	<% @works.each do |w| %>
	  <%= link_to work_path(w.id) do %>
	  <%= attachment_image_tag w, :image, :fill, 900, 900, fortmat: "jpg", fallback: "no-user-image.jpg", size: "900x900" %>
	    <h4 class="work-user-name text-dark"><%= w.work_name %></h4>
	  <% end %>
    <%= link_to user_path(w.user_id) do %>
      <h4 class="user-name text-dark">User Name: <%= w.user.name %></h4>
    <% end %>
    <!-- Good機能 -->
	  <% if w.favorited_by?(current_user) %>
        <%= link_to work_favorite_delete_path(w.id), method: :delete, class: "fav", remote: true do %>
        <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good -</h5>
        <% end %>
      <% else %>
        <%= link_to work_favorite_new_path(w.id), method: :post, class: "fav", remote: true do %>
        <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good ＋</h5>
        <% end %>
      <% end %>
	<% end %>
  </div>
</div>


<!-- ボックス作品表示 -->
<div class="box-mayworks clearfix">
  <% @works.each do |w| %>
	 <div class="works">
	  <%= link_to work_path(w.id) do %>
	  <%= attachment_image_tag w, :image, :fill, 300, 300, fortmat: "jpg", fallback: "no-user-image.jpg", class: 'work-box', size: "300x300" %>
	    <h6 class="work-user-name work-box text-dark"><%= w.work_name %></h6>
	  <% end %>
    <%= link_to user_path(w.user_id) do %>
      <h6 class="user-name text-dark">User Name: <%= w.user.name %></h6>
    <% end %>
      <!-- Good機能  -->
	 <% if w.favorited_by?(current_user) %>
         <%= link_to work_favorite_delete_path(w.id), method: :delete, class: "fav", remote: true do %>
         <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good -</h5>
         <% end %>
     <% else %>
         <%= link_to work_favorite_new_path(w.id), method: :post, class: "fav", remote: true do %>
         <h5 class="good-button <%= w.id %>"><%= w.goods.count %> Good ＋</h5>
         <% end %>
     <% end %>
     </div>
  <% end %>
</div>