<div class="container">

  <!-- 作品画像表示 -->
  <div class="col-lg-5 offset-lg-3">
    <%= attachment_image_tag @work, :image, :fill, 500, 500, fortmat: "jpg", :size => "100*100", fallback: "no-user-image.jpg" %>
    <!-- 作品タイトル -->
    <div class="row">
    <h4 class="work-user-name col-lg-9"><%= @work.work_name %></h4>

    <!-- いいね機能画面表示 -->
      <% if @work.favorited_by?(current_user) %>
        <%= link_to work_favorite_delete_path(@work.id), method: :delete, class: "fav", remote: true do %>
        <h5 class="good-button <%= @work.id %>"><%= @work.goods.count %> Good -</h5>
        <% end %>
      <% else %>
        <%= link_to work_favorite_new_path(@work.id), method: :post, class: "fav", remote: true do %>
        <h5 class="good-button <%= @work.id %>"><%= @work.goods.count %> Good ＋</h5>
        <% end %>
      <% end %>
    </div>
  </div>


  <!-- ライン -->
  <div class="col-lg-12" style="border-bottom: solid 4px #C0C0C0;"></div>


  <!-- 背景説明画面 -->
  <h4>Background</h4>
  <div class="col-lg-12 offset-lg-1">
    <%= @work.background %>
  </div>

  <br>
  <!-- デザイン料画面 -->
  <!-- 販売者のみ表示 -->
  <% if @work.is_active == true %>
  <div class="row col-lg-5 offset-lg-1">
  <h4>デザイン料</h4>
  <h4>¥<%= @work.price %></h4>
  </div>
  <!-- カート追加ボタン -->
  <%= link_to 'Add to Cart', in_cart_work_path(@work.id), method: :post, class: 'btn btn-warning offset-lg-9'%>
  <% end %>

  <!-- ログイン者のみ表示 -->
  <% if @work.user_id == current_user.id %>
  <!-- 作品編集ボタン -->
  <%= link_to '作品編集', edit_work_path(@work.id), class: 'btn btn-light offset-lg-11'%>

  <!-- 作品削除ボタン -->
  <%= link_to '作品削除', work_path(@work.id), method: :delete, class: 'btn btn-danger offset-lg-11', "data-confirm" => "Are you sure?" %>
  <% end %>


</div>