<br><br>
<div class="container bg-light" style="border-radius: 22px 78px 22px 78px;">

  <div class="row">
    <!-- ユーザ画像表示 -->
    <div class="row col-lg-3 offset-lg-3">
    <%= attachment_image_tag @user, :image, :fill, 250, 300, fortmat: "jpg", fallback: "no-user-image.jpg", size: "250x300",  class: "user-image-work" %>
    </div>

    <!-- フォロー・フォロワー・作品数表示 -->
    <div class="offset-lg-1">
      <h1><strong><%= @user.name %></strong></h1>
      <br>
      <br>
      <!-- ユーザ作品数 -->
      <%= link_to my_work_path(@user.id) do %>
      <h2 class="text-dark">My Works:<%= @work.count%></h2>
      <% end %>
      <!-- フォロワー・フォロー人数 -->
      <section class="stats">
      <%= render 'stats' %>
      </section>
      <!-- ユーザ編集ボタン -->
      <!-- ログイン者のみ表示 -->
      <% if @user.id == current_user.id %>
      <%= link_to "Edit", edit_user_path(@user.id), class: "btn btn-outline-secondary btn-sm col-lg-9" %>
      <% end %>
      <!-- フォローボタン -->
      <section id="user_<%= @user.id %>">
      <%= render 'follow_form', user: @user if signed_in? %>
      </section>
    </div>
  </div>



  <br>
  <!-- ライン -->
  <div class="col-lg-12" style="border-bottom: solid 3px #C0C0C0;"></div>



  <!-- ユーザ紹介文 -->
  <div class="user-introduction">
    <h3><strong>Introduction</strong></h3>
    <h5><%= @user.introduction %></h5>
  </div>

  <br>
  <% if @user.id == current_user.id %>
  <!-- フォローしたユーザの作品ボタン -->
  <div class="row">
    <%= link_to "<< My Collections >>", follower_work_path, class: "btn btn-primary btn-block btn-lg col-lg-8 offset-lg-2" %>
  </div>
  <% else %>
  <!-- ユーザ作品ボタン -->
  <div class="row">
    <%= link_to "<< Gallery >>", my_work_path(@user.id), class: "btn btn-primary btn-block btn-lg col-lg-8 offset-lg-2" %>
  </div>
  <% end %>

  <br>
  <!-- 購入・販売履歴ボタン -->
  <% if @user.id == current_user.id %>
  <div class="row">
    <%= link_to "Get history", history_order_path, class: "btn btn-outline-success btn-sm col-lg-4 offset-lg-2" %>

    <%= link_to "Sale history", history_sale_path, class: "btn btn-outline-warning btn-sm col-lg-4" %>
  </div>
  <% end %>

<br>
</div>
