<br><br>
<div class="container main1 bg-light">

  <div class="col-lg-5 offset-lg-2">
  <h1><strong>Log in</strong></h1>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <!-- E-mail入力 -->
    <div class="log_email_field">
      <div class="row">
        <div class="col-lg-2 offset-lg-3">
        <h4>E-mail</h4>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-lg-3" %>
      </div>
    </div>

    <br>
    <!-- パスワード入力 -->
    <div class="log_password_field">
      <div class="row">
        <div class="col-lg-2 offset-lg-3">
        <h4>Password</h4>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class:"col-lg-3" %>
      </div>
    </div>

    <!-- remember_me -->
    <div class="col-lg-2 offset-lg-5">
      <% if devise_mapping.rememberable? -%>
        <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>

    <!-- ログインボタン -->
    <div class="login_actions">
      <div class="col-lg-2 offset-lg-8">
      <%= f.submit "Log in", class: "btn btn-dark" %>
      </div>
    </div>

  <% end %>

<br>
</div>

