<div class="container">

  <!-- 検索フォーム -->
  <%= form_with url:search_index_path, method: :get, local: true do |f| %>
    <%= f.select :table_name, [["Work","Work"],["User","User"]], class: "form-control" %>
    <% if @table_name == 'Work' %>
    <%= f.collection_select :category, Category.all, :id, :category_name, :prompt => "Category", class: "col-lg-3" %>
    <% end %>
    <%= f.text_field :keyword, palceholder: "search", class: "col-lg-9" %>
    <%= button_tag type: "submit", class: "btn btn-primary col-lg-1" do %>
    <%= fa_icon("search", class:"icon4") %>
    <% end %>
  <% end %>


<!-- 検索結果 -->

  <% @searched.each do |s| %>

    <!-- ユーザ検索結果表示 -->
    <% if @table_name == 'User' %>

      <br>
      <div class="row">
  	    <%= link_to user_path(s.id) do %>
  	    <div class="col-lg-3">
          <%= attachment_image_tag s, :image, :fill, 200, 200, fortmat: "jpg", fallback: "no-user-image.jpg", size: "200x200", class: "user-image-work" %>
        </div>
        <% end %>
        <div class="col-lg-2">
          <h5>User Name:</h5>
          <h5><%= s.name %></h5>
        </div>
        <div class="col-lg-4">
          <h5>Introduction:</h5>
          <h5><%= s.introduction %></h5>
        </div>
        <div class="col-lg-2">
          <section id="user_<%= s.id %>">
          <%= render 'users/follow_form', user: s if signed_in? %>
          </section>
        </div>
        <div class="col-lg-12" style="border-bottom: solid 3px #C0C0C0;"></div>
      </div>

    <% else %>

      <!-- 作品検索結果 -->
      <br>
      <div class="row">
  	    <%= link_to work_path(s.id) do %>
  	    <div class="col-lg-3">
          <%= attachment_image_tag s, :image, :fill, 200, 200, fortmat: "jpg", fallback: "no-user-image.jpg", size: "200x200", class: "user-image-work" %>
        </div>
        <% end %>
        <div class="col-lg-2">
          <h5>Title:</h5>
          <h5><%= s.work_name %></h5>
        </div>
        <div clas="col-lg-4">
          <h5>User name:</h5>
          <h5><%= s.user.name %></h5>
        </div>
        <div class="col-lg-5">
          <h5>Background:</h5>
          <h5><%= s.background.truncate(110) %></h5>
        </div>
        <div class="col-lg-12" style="border-bottom: solid 3px #C0C0C0;"></div>
      </div>

    <% end %>
  <% end %>

</div>





